@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* { 
    margin: 0;
    padding:0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logo */ 

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;

}


#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    font-weight: bold;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 80px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;  
}

/* kids image */ 

#kids-outer {
   height: 300px; 
}


#kids-image {
    height: 550px;
    width: 900px;
    padding: 30px;
    clear: both;
    border-radius: 10%;
    float: left;
}

#right-side-text {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#list-reasons {
    font-weight: bold;
}

/* socials */



.social-networks {
    text-align: center;
    bottom: 3%;
    position: absolute;
    right: 46%;
}



.social-networks > li {
    display:inline
}

.social-networks i {
    font-size: 250%;
    margin: 5%;
    padding: 5%;
    color: #1606a3;
}



/* footer */ 

footer {
    height: 300px;
    bottom: 0;
    text-align: center;
}

.cover-text, .cover-text > h1 {
    color: #ffff;

}


.days-training {
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
}


ul > p {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-image {
    background-image: url(../assets/images/pexels-pixabay-209841.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden
}